<div class="flex justify-center items-center flex-col w-full h-full gap-3" *ngIf="!loaded">
  <div class="prose">
    <h1>Cargando</h1>
  </div>
  <progress class="progress w-56"></progress>
  <div class="prose">
    <p>Por favor espere un momento</p>
  </div>
</div>

<div class=" w-full flex justify-center" *ngIf="loaded">
  <div class="w-[70%] mb-3">
    <div class="prose">
      <h1>Insumos</h1>
    </div>
    <div class="grid md:grid-cols-1 lg:grid-cols-1 gap-2">
      <div class="">
        <button class="btn btn-primary w-full mt-4" (click)="openModal()">Crear nuevo insumo</button>

      </div>
      <div class="col-span-2 max-h-screen overflow-y-scroll">
        <div class="overflow-x-auto border rounded-lg">
          <table class="table w-full">
            <!-- head -->
            <thead>
              <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th class="w-1">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <!-- row 1 -->
              <tr *ngFor="let insumo of insumos">
                <th>{{insumo.id}}</th>
                <td>{{insumo.nombre}}</td>
                <td><button class="btn btn-error text-white" (click)="eliminar(insumo.id)" disabled>Eliminar</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>


  </div>

</div>

<dialog #modalCrearInsumo id="modalCrearInsumo" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="font-bold text-lg">Crear nuevo insumo</h3>
    <form [formGroup]="insumoForm" (ngSubmit)="crearInsumo()">
      <div class="form-control">
        <label class="label">
          <span class="label-text">Nombre</span>
        </label>
        <input type="text" formControlName="nombre" placeholder="Nombre del insumo" class="input input-bordered"
          required>
        <div
          *ngIf="insumoForm.get('nombre')?.invalid && (insumoForm.get('nombre')?.dirty || insumoForm.get('nombre')?.touched)"
          class="text-red-500 text-xs mt-1">
          <div *ngIf="insumoForm.get('nombre')?.errors">Nombre es requerido.</div>
        </div>
      </div>
      <div class="form-control mt-4">
        <label class="label">
          <span class="label-text">Unidad</span>
        </label>
        <input type="text" formControlName="unidad" placeholder="Unidad de medida" class="input input-bordered"
          required>
        <div
          *ngIf="insumoForm.get('unidad')?.invalid && (insumoForm.get('unidad')?.dirty || insumoForm.get('unidad')?.touched)"
          class="text-red-500 text-xs mt-1">
          <div *ngIf="insumoForm.get('unidad')?.errors">Unidad es requerida.</div>
        </div>
      </div>
      <div class="mt-4 flex justify-end">
        <button type="submit" class="btn btn-primary" [disabled]="insumoForm.invalid">Crear</button>
      </div>
    </form>
  </div>
</dialog>