<div class="flex flex-col items-center gap-9 py-4">
  <div class="flex justify-start items-center flex-col max-w-96">
    <img style="border-radius: 1000px;" class="shadow-lg col-span-1" src="/assets/user.svg" alt="">
    <div class="prose flex justify-center items-center flex-col">
      <h1 class="mb-0">
        {{email}}
      </h1>
      <p>{{role}}</p>
    </div>
  </div>

  <div class="col-span-2 flex flex-col justify-center">
    <div class="prose">
      <h2>Pedidos</h2>
    </div>
    <div class="stats shadow flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4 p-4">
      <div class="stat flex-1">
        <div class="stat-figure text-primary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            class="inline-block h-8 w-8 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
        </div>
        <div class="stat-title">Pendientes</div>
        <div class="stat-value text-primary">{{totalpeticionespendientes}}</div>
      </div>

      <div class="stat flex-1">
        <div class="stat-figure text-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            class="inline-block h-8 w-8 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
        </div>
        <div class="stat-title">En Preparación</div>
        <div class="stat-value text-secondary">{{totalpeticionesenPreparacion}}</div>
      </div>

      <div class="stat flex-1">
        <div class="stat-figure text-primary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            class="inline-block h-8 w-8 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path>
          </svg>
        </div>
        <div class="stat-title">Listos para Recoger</div>
        <div class="stat-value text-primary">{{totalpeticioneslistosParaRecoger}}</div>
      </div>

      <div class="stat flex-1">
        <div class="stat-figure text-secondary">
          <div class="avatar online">
            <div class="w-16 rounded-full">
              <img src="/assets/user.svg" />
            </div>
          </div>
        </div>
        <div class="stat-title">Porcentaje de Listos para Recoger</div>
        <div class="stat-value text-secondary">{{porcentajeListosParaRecoger}}%</div>
      </div>
    </div>
  </div>
</div>