<nav class="shadow-lg">
  <div class="navbar bg-base-100 flex justify-between w-full">
    <a routerLink="/cliente/tienda" class="flex items-center space-x-2">
      <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" class="fill-current">
        <path
          d="M804-282q17 9 30-4t4-30l-58-108-42 108 66 34Zm-200-38h48l96-238q3-8-1.5-13.5T736-580l-80-32q-9-3-17.5 2T628-596l-24 276Zm-296 0h48l-24-276q-2-11-10.5-15t-17.5-1l-80 32q-8 3-11.5 8.5T212-558l96 238Zm-152 38 66-34-42-108-58 108q-9 17 4 30t30 4Zm280-38h88l30-338q2-9-4.5-15.5T534-680H426q-8 0-14.5 6.5T406-658l30 338ZM138-200q-42 0-70-31.5T40-306q0-12 3.5-23.5T52-352l88-168q-14-40 1-79t53-55l80-32q14-5 28-7t28 1q14-29 39-48.5t57-19.5h108q32 0 57 19.5t39 48.5q14-2 28-.5t28 6.5l80 32q40 16 56 55t-2 77l88 168q6 11 9 23t3 25q0 45-30.5 75.5T814-200q-11 0-22-2.5t-22-7.5l-62-30H250l-56 30q-13 7-27.5 8.5T138-200Zm342-280Z" />
      </svg>
      <h1 class="font-sans text-xl font-bold">PanPan</h1>
    </a>
    <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">Menu</label>
  </div>
</nav>

<div class="drawer lg:drawer-open z-20">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col items-center justify-center">

    <body class=" font-sans leading-normal tracking-normal w-full min-h-screen">
      <div class="min-w-full min-h-screen flex justify-center">
        <div class="w-[80%] pt-5">
          <router-outlet></router-outlet>
        </div>
      </div>
    </body>
  </div>
  <div class="drawer-side z-20">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
      <div class="flex items-center gap-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          class="inline-block h-14 w-14 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
        </svg>
        <div class="prose">
          <p class="mb-0 mt-0">CLIENTE</p>
          <h3 class="mb-0 mt-0">{{email}}</h3>
        </div>
      </div>
      <div class="divider"></div>
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn m-1 w-full">
          Temas
          <svg width="12px" height="12px" class="h-2 w-2 fill-current opacity-60 inline-block"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048">
            <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
          </svg>
        </div>
        <ul tabindex="0" class="dropdown-content z-[1] p-2 shadow-2xl bg-base-300 rounded-box w-52">
          <li>
            <input type="radio" name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Winter" value="winter"
              (change)="changeTheme('winter')" />
          </li>
          <li>
            <input type="radio" name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Lofi" value="lofi"
              (change)="changeTheme('lofi')" />
          </li>
          <li>
            <input type="radio" name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Acid" value="acid"
              (change)="changeTheme('acid')" />
          </li>
          <li>
            <input type="radio" name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Dracula" value="dracula"
              (change)="changeTheme('dracula')" />
          </li>
          <li>
            <input type="radio" name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label="Dim" value="dim"
              (change)="changeTheme('dim')" />
          </li>
        </ul>
      </div>
      <div class="divider"></div>
      <li>
        <a class="md:p-4 py-2 block hover:text-primary text-secondary transition-all duration-300 ease-in-out"
          routerLink="/cliente/tienda">Tienda</a>
      </li>
      <li>
        <a class="md:p-4 py-2 block hover:text-primary text-secondary transition-all duration-300 ease-in-out"
          routerLink="/cliente/mispedidos">Mis pedidos</a>
      </li>
      <li>
        <a class="md:p-4 py-2 block hover:text-primary text-secondary transition-all duration-300 ease-in-out"
          routerLink="/cliente/cuenta">Cuenta</a>
      </li>

      <div class="divider"></div>
      <li>
        <a class="md:p-4 py-2 block hover:text-purple-400 text-purple-500" href="#" (click)="salir()">Salir</a>
      </li>




    </ul>



  </div>
</div>

<app-footer-cli></app-footer-cli>