<div class="prose">
  <h1>Informes</h1>
  <p>En esta sección se pueden generar informes de los datos de la aplicación.</p>
  <p>Para generar un informe, seleccione el tipo de informe que desea generar y haga clic en el botón "Generar informe".
  </p>
</div>

<div class="grid md:grid-cols-2 sm:grid-cols-1 gap-6 my-5">
  <div class="card w-full bg-base-100 shadow-xl image-full">
    <figure><img src="/assets/informeUsuarios.jpg" alt="Usuarios foto" /></figure>
    <div class="card-body">
      <h2 class="card-title">Usuarios</h2>
      <p>Genera informes de los usuarios del sistema</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary" (click)="exportUsuarios()">Generar informe</button>
      </div>
    </div>
  </div>
  <div class="card w-full bg-base-100 shadow-xl image-full">
    <figure><img src="/assets/informeInsumos.jpg" alt="Insumos foto" /></figure>
    <div class="card-body">
      <h2 class="card-title">Insumos</h2>
      <p>Genera informes de los insumos del sistema y los insumos necesarios para los pedidos pendientes</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary" (click)="exportInsumos()">Insumos del sistema</button>
        <button class="btn btn-primary" (click)="exportInsumosNecesarios()">Insumos necesarios</button>
      </div>
    </div>
  </div>
  <div class="card w-full bg-base-100 shadow-xl image-full">
    <figure><img src="/assets/informeProductos.jpg" alt="Productos foto" /></figure>
    <div class="card-body">
      <h2 class="card-title">Productos</h2>
      <p>Genera informes de los productos del sistema</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary" (click)="exportProductos()">Generar informe</button>
      </div>
    </div>
  </div>
  <div class="card w-full bg-base-100 shadow-xl image-full">
    <figure><img src="/assets/informePedidos.jpg" alt="Pedidos foto" /></figure>
    <div class="card-body">
      <h2 class="card-title">Pedidos</h2>
      <p>Genera informes de los pedidos del sistema</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary" (click)="exportPedidos()">Generar informe</button>
      </div>
    </div>
  </div>
</div>