<div class="flex flex-wrap justify-center mb-4">
  <div class="flex flex-col sm:flex-row join space-y-2 sm:space-y-0 sm:space-x-2">
    <button class="btn join-item w-full sm:w-auto" [class.btn-primary]="filtro === 'todos'"
      (click)="cambiarFiltro('todos')">Todos</button>
    <button class="btn join-item w-full sm:w-auto" [class.btn-primary]="filtro === 'pendiente'"
      (click)="cambiarFiltro('pendiente')">Pendiente</button>
    <button class="btn join-item w-full sm:w-auto" [class.btn-primary]="filtro === 'en preparación'"
      (click)="cambiarFiltro('en preparación')">En preparación</button>
    <button class="btn join-item w-full sm:w-auto" [class.btn-primary]="filtro === 'listo para recoger'"
      (click)="cambiarFiltro('listo para recoger')">Listo para recoger</button>
  </div>
</div>

<div class="flex justify-center mb-4">
  <select class="select select-bordered w-full max-w-xs" (change)="cambiarOrden($event)">
    <option value="fechaAsc">Fecha de Pedido Ascendente</option>
    <option value="fechaDesc">Fecha de Pedido Descendente</option>
    <option value="fechaEntregaAsc">Fecha de Entrega Ascendente</option>
    <option value="fechaEntregaDesc">Fecha de Entrega Descendente</option>
  </select>
</div>

<div class="grid xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-3 sm:grid-cols-1 gap-4 mb-8">
  <div *ngFor="let pedido of pedidosPaginados" class="card card-compact w-[100%] bg-base-100 shadow-xl relative">
    <div class="badge absolute top-2 right-2 badge-info">{{pedido.estado | titlecase}}</div>
    <div class="card-body">
      <div class="flex justify-between items-center">
        <h2 class="card-title hover:text-primary cursor-pointer transition-all">
          Pedido: {{pedido.id}}
        </h2>
      </div>
      <p class="mb-2">
        Cliente: {{pedido.cliente}} <br>
        Teléfono: {{pedido.clienteTelefono}} <br>
        Fecha de Pedido: {{pedido.fecha}} <br>
        Fecha de Entrega: {{pedido.fechaEntrega}}
      </p>
      <p class="font-semibold">
        Cantidad de productos: {{pedido.cantProductos}}
      </p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary" (click)="verDetalles(pedido.id)">Ver Detalles</button>
      </div>
    </div>
  </div>
</div>

<div class="flex items-center justify-center mt-4 p-1 gap-1">
  <button class="btn btn-sm" [disabled]="paginaActual === 1" (click)="cambiarPagina(paginaActual - 1)">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      class="inline-block h-5 w-5 stroke-current">
      <path stroke-linecap="round" stroke-linejoin="round" d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" />
    </svg>
  </button>
  <span class="mx-2">Página {{ paginaActual }} de {{ totalPaginas }}</span>
  <button class="btn btn-sm" [disabled]="paginaActual === totalPaginas" (click)="cambiarPagina(paginaActual + 1)">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      class="inline-block h-5 w-5 stroke-current">
      <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5" />
    </svg>
  </button>
</div>