<div class="hero">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src="https://images.unsplash.com/photo-1567042661848-7161ce446f85?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      class="md:max-w-sm rounded-lg shadow-2xl " />
    <div>
      <div class="prose mb-5">
        <h1 class="">Administracion</h1>
        <p class="">
          Bienvenido a PanPan, tu aplicación de administración de panadería. Con PanPan, gestiona tus productos,
          controla
          ingredientes, automatiza tareas diarias y mejora la atención al cliente. ¡Transforma tu panadería con PanPan
          hoy
          mismo!
        </p>
      </div>
      <div class="flex gap-3 flex-wrap">
        <button class="btn btn-neutral">Informes</button>
        <button class="btn btn-neutral" routerLink="/administracion/productos">Productos</button>
        <button class="btn btn-neutral">Panaderia</button>
        <button class="btn btn-neutral">Usuarios</button>
        <button class="btn btn-neutral">Ordenes</button>
      </div>
    </div>
  </div>
</div>
<div class="divider divider-secondary my-20">Estadisticas</div>